body{
  background: url('http://wallpoper.com/images/00/38/28/67/abstract-music_00382867.jpg');
  background-size: 125%;
  background-repeat: no-repeat;
}
h3{
  margin-top: 40px;
}
section{
  color: white;
  font-weight: lighter;
}
